# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: make 
      
      - name: GitHub Pages
        # You may pin to the exact commit or the version.
        # uses: crazy-max/ghaction-github-pages@1510b11c0c2f843eafb8ff41b3da8c467c8d4a9f
        uses: crazy-max/ghaction-github-pages@v2.2.0
        with:
          # GitHub repository where assets will be deployed (default current)
          repo: # optional
          # Git branch where assets will be deployed
          target_branch: # optional, default is gh-pages
          # Create incremental commit instead of doing push force
          keep_history: # optional, default is false
          # Allow an empty commit to be created
          allow_empty_commit: # optional, default is true
          # Build directory to deploy
          build_dir: _book
          # The committer name and email address
          committer: # optional
          # The author name and email address
          author: # optional
          # Commit message
          commit_message: # optional
          # Write the given domain name to the CNAME file
          fqdn: # optional
          # Allow Jekyll to build your site
          jekyll: # optional, default is true
